.logo {
    font-family: Myriad Pro sans-serif;
    color: #000000;
    font-size: 80px;
    font-weight: 400;
    margin-left: 30px;
}



.logo span{
    font-family: Myriad Pro sans-serif;
    color:  #4bcaff;
    font-size: 80px;
    font-weight: 400;

}
.navbar {
    width: 1200px;
    list-style: none;
    background-color: #35444f;
    margin-left: 30px;
    margin-right: 30px;
    padding: 0 0;
    border: 1px solid transparent ;
}

.navbar-menu:hover{

    background-color: #222f3a;
}
.navbar a{
    font-family: Myriad Pro sans-serif;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

}
.navbar-menu{
    float:left;
    padding: 15px 71px;

}
.column-left{
    float: left;
    width: 344px;
    list-style: none;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 30px;
    padding: 0 0;

}
.column-leftmain{
    padding-top: 13px;

    padding-bottom: 13px;
    padding-left: 30px;
}
.column-leftmain a{
    text-decoration: none;
    font-family: Myriad Pro sans-serif;
    color:  #485863;
    font-size: 27px;
    font-weight: 400;
    line-height: 88px;
    text-align: left;
}
.column-leftmain:hover{
    background-color: #dbdbdb;
    font-family: Myriad Pro sans-serif;
    color:  black;
    font-size: 27px;
    font-weight: 400;
    line-height: 88px;
    text-align: center;
}
.right-column{
    float: right;
    width: 800px;
    border: 1px solid black;
    margin-left: 42px;
    margin-top: 30px;
    padding: 0 0;
    margin-right: 30px;
}
.img-main{
    width: 320px;
    height: 381px;
    padding: 151px 263px 151px 246px;
}
.content{
    float: right;
    width: 760px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 0 0;
    margin-right: 60px;
}
.text{

    color:  #2c2b2b;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.footer {
    width: 1200px;
    list-style: none;
    background-color: #b4b7ba;
    margin-bottom: 30px;


}


.item-bottom{
    font-family: Myriad Pro sans-serif;
    font-weight: 400;
    color:  #0c1927;
    font-size: 28px;
    text-align: left;
display: inline-block;
    float: left;
}
.item-bottom a{
    text-decoration: none;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    text-align: left;
    margin: 0 10px;
    font-family: Myriad Pro sans-serif;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;

}
.copyright{
    float: right;
    font-family: Myriad Pro sans-serif;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    line-height: 90px;
padding-right: 15px;
}

.item-bottom a:hover{
    font-family: Myriad Pro sans-serif;
    color:  #3181a6;
    font-size: 28px;
    font-weight: 400;
    line-height: 90px;
    border-bottom: 2px solid #3181a6;

}
.right-column:hover{
    transform: scale(1.1);
    transition :0.4s linear;
}